.spin {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #57bca8;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 300px auto 10px;
  animation: ani2 2s linear infinite;
}
@keyframes ani2 {
  100% {
    transform: rotate(360deg);
  }
}
.text {
  color: #222;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
